<div class="container">
  <div class="row">
    <div class="description">
      <p>Интернет радио-программа про современные технологии, их влияние на нашу жизнь, и прочие мысли.</p>
      <p>Ведущие: Дмитрий Здоров и Василий Мязин.</p>
      <hr>
    </div>
  </div>
</div>

<div ng-controller="TechlifeCtrl">

  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="row">
          <div class="two columns text-center">
            <a class="podcast-icon" href="https://geo.itunes.apple.com/us/podcast/tehnologii-i-zizn/id1013700516?mt=2"><img src="img/apple-podcast-icon.png" alt="" /></a>
          </div>
          <div class="nine columns">
            <h3><a href="https://geo.itunes.apple.com/us/podcast/tehnologii-i-zizn/id1013700516?mt=2">Подписывайтесь на подкаст в iTunes!</a></h3>
            <!-- 
            <br><a href="https://overcast.fm/itunes1013700516">или в Overcast</a>
            -->
          </div>
        </div>
        <p>
          <img class="artwork" src="img/tl-logo.jpg" alt="Techlife Podcast logo" />
        </p>
        <p>
          Почта: <a href="mailto:talk@techlifepodcast.com">talk@techlifepodcast.com</a>
        </p>
      </div>
      <div class="six columns">
        <h3>Список эпизодов</h3>
        <ul>
            <li ng-repeat="episode in episodes | reverse">№{{episodes.length - $index}} <a href="episodes/{{episode.id}}">{{episode.title}}</a></li>
        </ul>
      </div>

    </div>
  </div> <!-- /container -->

</div>
