<div class="container">
  <div class="row">
    <div class="description">
      <p>Интернет радио-программа про современные технологии, их влияние на нашу жизнь, и прочие мысли.</p>
      <p>Ведущие: Дмитрий Здоров и Василий Мязин.</p>
      <hr>
    </div>
  </div>
</div>

<div ng-controller="TechlifeCtrl">

  <div class="container">
    <div class="row">
      <div class="six columns">
        <p>
          <img class="artwork" src="img/tl-logo.jpg" alt="Techlife Podcast logo" />
        </p>
        <p>
          Почта: <a href="mailto:talk@techlifepodcast.com">talk@techlifepodcast.com</a>
        </p>
      </div>
      <div class="six columns">
        <h3>Слушать эпизоды</h3>
        <ul>
            <li ng-repeat="episode in episodes | reverse">№{{episodes.length - $index}} <a href="episodes/{{episode.id}}">{{episode.title}}</a></li>
        </ul>
      </div>

    </div>
  </div> <!-- /container -->

</div>
