<p>
<br>Телефон, телеграф, скайпъ
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="https://www.skype.com">Скайп</a></li>
    <li><a href="https://telegram.org/">Телеграм</a></li> 
    <li><a href="https://www.whatsapp.com/">Вотсапп</a></li>
    <li><a href="https://support.apple.com/explore/messages">Эппл месседжес</a> (ранее айМесседж)</li>
    <li><a href="https://www.messenger.com/">Фейсбук мессенджер</a></li>
    <li><a href="https://hangouts.google.com/">Гугл хенгаутс</a> (ранее Гугл Ток)</li>
    <li><a href="https://slack.com/">Слек</a></li>
    <li><a href="https://www.wechat.com/ru/">ВиЧат</a></li>    
    <li><a href="https://line.me/">Лайн</a></li>
    <li><a href="https://www.viber.com/">Вайбер</a></li>
    <li><a href="https://signal.org/">Сигнал</a></li>
    <li><a href="https://kakao.com/">Какао</a></li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
