<p>
Удобные разъемы, редактирование речи и ложные новости
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="https://madeby.google.com/phone/">Смартфон Гугл Пиксель</a></li>
    <li><a href="http://www.mi.com/en/mix/">Шао Ми Микс</a></li>
    <li><a href="https://griffintechnology.com/intl/breaksafe-magnetic-usb-c-power-cable">БрейкСэйф</a> Аналог МагСейф для USB-C</li>
    <li><a href="https://madeby.google.com/phone/">Гугл телефон Пиксель</a></li>
    <li><a href="https://ru.wikipedia.org/wiki/Детекторный_приёмник">Детекторный приёмник</a></li>
    <li><a href="https://blogs.adobe.com/conversations/2016/11/lets-get-experimental-behind-the-adobe-max-sneaks.html">Адоби Воко</a></li>
    <li><a href="https://www.kinopoisk.ru/film/570/">к/ф Игрок</a></li>
    <li><a href="http://arstechnica.com/information-technology/2016/11/how-to-stop-the-wave-of-apple-calendar-alert-spam/">Спам в календарях iCloud</a></li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
