<p>
Взрывающиеся телефоны, победа Трампа и заметки из Риги
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="http://mjt.org/">Музей юрских технологий (Museum of Jurassic Technology)</a></li>
    <li><a href="http://www.apple.com/iphone-7/">айФон 7</a></li>
    <li><a href="http://www.apple.com/apple-watch-series-2/">Эппл воч 2</a></li>
    <li><a href="https://madeby.google.com/phone/">Гугл телефон Пиксель</a></li>
    <li><a href="https://www.microsoft.com/en-us/windows/upcoming-features">Микрософт Винды Креативная версия</a></li>
    <li><a href="https://gsuite.google.com/jamboard/">Гугл джемборд (умная школьная "доска")</a></li>
    <li><a href="https://www.microsoft.com/en-us/surface">Микрософт сёрфис (настольный комп за 3000 баксов)</a></li>
    <li><a href="https://blogs.msdn.microsoft.com/visualstudio/2016/11/16/visual-studio-for-mac/">Визуал Студио для мака</a></li>
    <li><a href="http://www.androidcentral.com/samsung-galaxy-note-7">Взрывающиеся телефоны Самсунга</a></li>
    <li><a href="https://ru.wikipedia.org/wiki/Чикагский_отравитель">История про отравленный тайленол</a></li>
    <li><a href="https://ru.wikipedia.org/wiki/Тиль,_Питер">Питер Тиль</a></li>
    <li><a href="https://www.youtube.com/watch?v=OUS9mM8Xbbw">СиДжиПи Грей про электральную систему</a> и <a href="https://www.youtube.com/watch?v=7wC42HgLA4k">её проблемы</a></li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
</p>
