<p>
Защищают ли авторские права от врагов из космоса
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
	<li><a href="https://overcast.fm/+B1qx2yBpE/1:05:01">СиДжиПи Грей про диспуты о монетизации ютюба</a></li>
	<li><a href="http://www.bloomberg.com/news/articles/2016-07-11/facebook-sued-for-1b-for-alleged-hamas-use-of-medium-for-terror">Фейсбук судят на миллиард якобы за помощь хамасу</a></li>
	<li><a href="http://www.nytimes.com/2016/07/06/technology/snapchat-snow-korea.html?_r=0">Сноу [Snow] - Корейская копия снепчата бурно развивается</a></li>
	<li><a href="http://www.fastcompany.com/3057182/inside-juno-the-company-that-wants-to-beat-uber-by-wooing-its-drivers">Джуно [Juno] новый конкурент Юбера</a></li>
	<li><a href="https://ru.wikipedia.org/wiki/Великий_фильтр">Великий фильтр</a> в рамках парадокса Ферми</li>
	<li><a href="https://www.kinopoisk.ru/film/724982/">Звезда</a> фильм 2014</li>
	<li><a href="http://www.imdb.com/title/tt3553976/">Captain Fantastic</a> фильм 2016</li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
</p>
