<p>
Гугл логотип, Статья про Амазон, Взлом Эшли Медисон, Новинки Эппл
</p>
<ul class="bulleted">
  	<li>Новый логотип гугла
	  	<a href="http://googleblog.blogspot.com/2015/09/google-update.html">googleblog.blogspot.com/2015/09/google-update.html</a>
	</li>
	<li>Апрош (кернинг) нового гугловского логотипа не радует
		<a href="http://ak.vbroek.org/2015/09/03/the-new-google-logo-and-kerning/">ak.vbroek.org/2015/09/03/the-new-google-logo-and-kerning</a>
	</li>
	<li>Как Гэп неудачно пытался обновить логотип
		<a href="http://www.theguardian.com/media/2010/oct/12/gap-logo-redesign">theguardian.com/media/2010/oct/12/gap-logo-redesign</a>
	</li>
	<li>Статья в Нью Йорк Тайм:
		Внутри Амазона, борьба за большие идеи на поле боя рабочих мест
		<a href="http://www.nytimes.com/2015/08/16/technology/inside-amazon-wrestling-big-ideas-in-a-bruising-workplace.html">nytimes.com/2015/08/16/technology/inside-amazon-wrestling-big-ideas-in-a-bruising-workplace.html</a>
	</li>
	<li>Малочисленность женщин на взломанном хакерами сайте Эшли Мэдисон
		<a href="http://gizmodo.com/ashley-madison-code-shows-more-women-and-more-bots-1727613924">gizmodo.com/ashley-madison-code-shows-more-women-and-more-bots-1727613924</a>
	</li>
	<li>Эппл отказался дать возможность правительству подслушивать iMessage
		<a href="http://www.theverge.com/2015/9/8/9278261/apple-wiretap-imessage-justice-department-court-order">theverge.com/2015/9/8/9278261/apple-wiretap-imessage-justice-department-court-order</a>
	</li>
	<li>Презентация Apple. 9 сентября 2015 года
		<a href="http://www.apple.com/ru/apple-events/september-2015/">apple.com/ru/apple-events/september-2015</a>
	</li>
	<li>Линда Донг о том, что круче Эппл Карандаш или Ваком Синтик
		<a href="http://www.lindadong.com/blog//apple-pencil-vs-wacom-cintiq">lindadong.com/blog//apple-pencil-vs-wacom-cintiq</a>
	</li>
	<li>Эппл ТВ будет теперь без оптического аудио порта
		<a href="http://www.macworld.com/article/2983252/home-audio/apple-tv-drops-optical-audio-out-how-to-pump-up-the-volume-again.html">macworld.com/article/2983252/home-audio/apple-tv-drops-optical-audio-out-how-to-pump-up-the-volume-again.html</a>
	</li>
</ul>
