<ul class="bulleted">
  <li>Подкаст Джона Грубера в живую  <a href="http://daringfireball.net/thetalkshow/2015/06/09/ep-123">daringfireball.net/thetalkshow/2015/06/09/ep-123</a></li>
  <li>Взлом компа неслышимым звуком <a href="http://arstechnica.com/security/2013/12/scientist-developed-malware-covertly-jumps-air-gaps-using-inaudible-sound/">arstechnica.com/security/2013/12/scientist-developed-malware-covertly-jumps-air-gaps-using-inaudible-sound</a></li>
  <li>Стратекери - сайт Бена Томпсона <a href="https://stratechery.com/">stratechery.com</a> (платный)<br />
и статья там о Фейсбуке <a href="https://stratechery.com/2015/facebook-reckoning/">stratechery.com/2015/facebook-reckoning</a></li>
  <li>Джекоб Нильсен о том, что поисковики забирают себе всю прибыль <a href="http://www.nngroup.com/articles/search-engines-as-leeches-on-the-web/">nngroup.com/articles/search-engines-as-leeches-on-the-web</a></li>
</ul>
