<p>
Живём ли мы в симуляции, что же принёс WWDC, конференция Layers и прочие современности
</p>
<p><b>По следам прошлого эпизода:/b></p>
<ul class="bulleted">
	<li><a href="https://www.youtube.com/watch?v=2KK_kzrJPS8">Джош Топольский спрашивает Элона Маска живём ли мы в симуляции</a> 1 на миллиарды что нет</li>
	<li><a href="https://developer.apple.com/videos/wwdc2016/">Коференция Разработчиков для платформ Эппл</a> (даб-даб-ди-си)</li>
</ul>

<p><b>Статьи и новости:</b></p>
<ul class="bulleted">
	<li><a href="http://exponent.fm/episode-083-microsoft-linkedin-versus-apple-wwdc/">Экспонент эпизод 83</a> в котором Бен Томпсон объясняет про крутость покупки ЛинкдИн</li>
	<li><a href="https://bringyourlayers.com/">Дизайнерская конференция Лейерс</a></li>	
</ul>
  
<p><b>Гаджеты:</b></p>
<ul class="bulleted">
	<li><a href=" "> </a></li>
</ul>
