<ul class="bulleted">
  <li>ATP (случайный тех подкаст) в прямом эфире <a href="http://atp.fm/live/">atp.fm/live</a></li>
  <li>Недавно закрывшийся новостной стартап Circa <a href="https://circanews.com/">circanews.com</a></li>
  <li>Саундтрекинг, который запоминал какую какую музыку слушал в течение дня <a href="https://soundtracking.com/trending">soundtracking.com/trending</a></li>
  <li>Гугл Баз <a href="https://ru.wikipedia.org/wiki/Google_Buzz">ru.wikipedia.org/wiki/Google_Buzz</a></li>
  <li>Cтив Джобс о том, что фокус это говорить "нет" <a href="https://www.youtube.com/watch?v=6pTv_DJNfTg">outube.com/watch?v=6pTv_DJNfTg</a><br /> и его высказывание о смерти:<br />
<i>Remembering that you are going to die is the best way I know to avoid the trap of thinking you have something to lose. You are already naked. There is no reason not to follow your heart.</i>
</li>
  <li>App.net который ещё теплится <a href="https://alpha.app.net/dimka">alpha.app.net/dimka</a></li>
  <li>Фильм In Time (2011) <a href="http://www.imdb.com/title/tt1637688/">imdb.com/title/tt1637688</a></li>
  <li>Открытое письмо Тейлор Свифт <a href="http://taylorswift.tumblr.com/post/122071902085/to-apple-love-taylor">taylorswift.tumblr.com/post/122071902085/to-apple-love-taylor</a> и реакция на это Эдди Кью из Эппл <a href="http://recode.net/2015/06/21/apple-says-it-will-pay-taylor-swift-for-free-streams-after-all/">recode.net/2015/06/21/apple-says-it-will-pay-taylor-swift-for-free-streams-after-all</a></li>
</ul>

