<p>
Москва, магазины и земли Эппл, Гугловский Алфавит, юани, Коин
</p>
<ul class="bulleted">
  <li>ЖЖ пост Дмитрия про поездку в Москву <a href="http://thedimka.livejournal.com/479602.html">thedimka.livejournal.com/479602.html</a>
</li>
  <li>Альбом записанный рэппером в магазине Эппл <a href="http://nypost.com/2015/07/07/broke-rapper-records-entire-album-at-apple-store/">nypost.com/2015/07/07/broke-rapper-records-entire-album-at-apple-store</a>
</li>
  <li>Реструктиризация Гугла в Алфавит <a href="https://abc.xyz/">abc.xyz</a>
</li>
  <li>Валютные новости из Китая 
<a href="http://www.vedomosti.ru/economics/articles/2015/08/11/604322-kitai-devalviroval-yuan">vedomosti.ru/economics/articles/2015/08/11/604322-kitai-devalviroval-yuan</a></li>
  <li>Покупка Эпплом куска земли в Сан Хозе предположительно для строительства авто фабрики <a href="http://www.bizjournals.com/sanjose/news/2015/08/03/exclusive-apple-buys-huge-san-jose-development.html">bizjournals.com/sanjose/news/2015/08/03/exclusive-apple-buys-huge-san-jose-development.html</a></li>
  <li>Новый Амазоновский Киндл Вояж, с подсветкой и экранов на 300dpi <a href="http://amzn.to/1NgcKvH">amzn.to/1NgcKvH</a></li>
  <li>Кредитная карточка нового поколения Коин <a href="https://onlycoin.com/?referral=c3PHVKgG">onlycoin.com</a></li>
 </ul>
