<p>
Трудности и радости Хомо Сапиенса в путешествиях<br>
Разные страны, уберы и айфоны
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="http://www.ynharari.com/book/sapiens/">Книга Сапиенс (Разумные) о развитии человечества, автор Ювал Харари</a></li>
    <li><a href="https://youtu.be/7Lre6GxiQUE?t=33m19s">Илон Маск о целях в саморазвитии</a></li>
    <li><a href="http://www.gettyimages.com/photos/guanajuato?excludenudity=true&mediatype=photography&phrase=guanajuato&sort=mostpopular">Виды города Гуанахуато, Мексика</a></li>
    <li><a href="https://daringfireball.net/2017/04/uber_identifying_and_tagging_iphones">Джон Грубер разбирает новость про Убер и их тайную маркировку айфонов</a></li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
