<p>
Живём ли мы в симуляции, что же принёс WWDC, конференция Layers и прочие современности
</p>
<p><b>По следам прошлого эпизода:</b></p>
<ul class="bulleted">
	<li><a href="https://www.youtube.com/watch?v=2KK_kzrJPS8">Джош Топольский спрашивает Элона Маска живём ли мы в симуляции</a> 1 на миллиарды что нет</li>
	<li><a href="https://developer.apple.com/videos/wwdc2016/">Коференция Разработчиков для платформ Эппл</a> (WWDC даб-даб-ди-си)</li>
</ul>

<p><b>Статьи и новости:</b></p>
<ul class="bulleted">
	<li><a href="http://exponent.fm/episode-083-microsoft-linkedin-versus-apple-wwdc/">Экспонент, эпизод 83</a> в котором Бен Томпсон объясняет про крутость покупки Linkedin</li>
	<li><a href="https://bringyourlayers.com/">Дизайнерская конференция Layers (Лейерс)</a></li>	
	<li><a href="http://www.macworld.com/article/1151235/macs/apple-rolls.html">Статья Джона Грубера о том как Эппл катит вперёд</a></li>
	<li><a href="http://thehackernews.com/2016/06/tape-over-webcam.html">Марк Цукерберг заклеивает камеру</a></li>
	<li><a href="https://news.vice.com/topic/edward-snowden">Vice про Эдварда Сноудена</a></li>
</ul>
  
<p><b>Гаджеты и программы:</b></p>
<ul class="bulleted">
	<li><a href="http://amzn.to/29Mj4fT">Amazon Echo</a> колонка, которая выполняет голосовые команды</li>
	<li><a href="http://amzn.to/29mpq5H">Amazon Kindle Oasis</a>новейшая читалка</li>
	<li><a href="http://www.apple.com/imac/specs/">Apple iMac</a> самый <a href="http://amzn.to/29fxnaN">быстрый</a> на данный момент аймак</li>
	<li><a href="https://itunes.apple.com/app/wiki-offline-wikipedia-experience/id378348813?mt=8">Wiki Offline</a></li>
	<li><a href="http://amzn.to/29kg3re">Аккомулятор EasyAcc Classic на 15000mAh</a>с солнечной батареей</li>
	<li><a href="http://amzn.to/29uY7K3">Аккомулятор Eton BoostTurbine на 2000mAh</a>с ручной подкруткой</li>
</ul>

<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
</p>
