<p>
Сложности с айФонами, путешествия, новый подкаст Василия и неновости
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="http://exponent.fm/episode-106-to-be-an-outlaw/">Бен Томпсон про удаление Убер Апп и критику Эппл</a></li>
    <li><a href="http://www.theverge.com/2017/2/28/14760400/iphone-8-2017-rumors-usb-c-lightning">Слухи про USB-C в следующем айФоне</a></li>
    <li><img src="http://thedimka.com/i/thailand-electrical-outlet-531.png" width="531" height="350" border="0"><br>Электрические розетки в Тайланде подойдут и для американских вилок и для европейских</li>
    <li><a href="https://vimeo.com/36128360">Джонатан Хайдт рассказывает о недопонимании в обществе между консерваторами и либералами</a></li>
    <li><a href="http://www.everydayjourneypodcast.com/">Новый подкаст Василия - Everyday Journey Podcast</a></li>
    <li><a href="https://www.youtube.com/watch?v=y3qkf3bajd4">Юрий Безменов: Deception Was My Job</a></li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
