<p>
<br>Замки в облаках
<br>Или о том как надёжно, зашифрованно, безопасно хранить своди данные в облаках или разных хранилищах файлов.
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="https://dropbox.com">Dropbox</a> (open <a href="https://db.tt/UlYxDXer">new account</a>)</li>
    <li><a href="https://box.com/">Box.com</a></li> 
    <li><a href="https://google.com/drive/">Google Drive</a></li>
    <li>Apple <a href="https://www.icloud.com/#iclouddrive">iCloudDrive</a> и <a href="https://support.apple.com/en-us/HT201250">Time Machine</a></li>
    <li><a href="https://mega.nz/">mega.nz</a></li>
    <li><a href="https://onedrive.live.com/">Microsoft OneDrive</a></li>
    <li><a href="https://disk.yandex.ru/">Яндекс Диск</a></li>
    <li><a href="https://secure.backblaze.com/r/0115bz">Backblaze</a> резервное копия в облаке</li>    
    <li><a href="https://www.egnyte.com/">Egnyte</a> решения для корпораций</li>
    <li><a href="https://cloudmounter.net/">Cloud Mounter</a></li>
    <li><a href="https://www.sendspace.com/">sendspace.com</a></li>

</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
