<ul class="bulleted">
  <li>Her <a href="http://www.imdb.com/title/tt1798709/">imdb.com/title/tt1798709</a></li>
  <li>Ex Machina <a href="http://www.imdb.com/title/tt0470752/">imdb.com/title/tt0470752</a></li>
  <li>Про фразу Deus Ex Machina <a href="https://ru.wikipedia.org/wiki/Deus_ex_machina">ru.wikipedia.org/wiki/Deus_ex_machina</a></li>
  <li>CGP Gray - Humans Need Not Apply <a href="http://www.cgpgrey.com/blog/humans-need-not-apply">cgpgrey.com/blog/humans-need-not-apply</a></li>
  <li>Harvard Business Review про роботов <a href="https://hbr.org/2015/06/the-great-decoupling">hbr.org/2015/06/the-great-decoupling</a></li>
  <li>RT Uploading human brain - <a href="http://rt.com/news/261909-brain-upload-computer-program">rt.com/news/261909-brain-upload-computer-program</a></li>
  <li>Marionettes, Inc. <a href="http://raybradbury.ru/library/story/49/5/1/">raybradbury.ru/library/story/49/5/1/</a> и <a href="http://amzn.to/1FSUvVl">amzn.to/1FSUvVl</a></li>
  <li>Black Mirror <a href="http://www.channel4.com/programmes/black-mirror/">channel4.com/programmes/black-mirror</a></li>
  <li>Google I/O <a href="https://events.google.com/io2015/">events.google.com/io2015</a></li>
</ul>
