<p>
Колумбия и Мексика<br>
Василий вернулся из проехался по Латинской Америке
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="https://www.youtube.com/user/samaza">Сэм и его канал на Ютюбе LifeAFAR</a></li>
    <li><a href="http://www.claro.com.co/personas/">Кларо</a></li>
    <li><a href="https://daringfireball.net/thetalkshow/2017/06/08/ep-193">WWDC 2017 Шоу Джона Грубера</a></li>
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
