<p>
О недопланете Плутон, приоритетах Эппл и Микрософт, новом Айпод Тач
</p>
<ul class="bulleted">
  <li>Программа для записи звука, в том числе и Скайпа (только для мака) <a href="https://www.rogueamoeba.com/audiohijack/">Rogue Amoeba Audio Hijack</a></li>
  <li>Полёт к плутону <a href="http://pluto.jhuapl.edu/">pluto.jhuapl.edu</a></li>
  <li>Нил Деграсс Тайсон принижает значение полёта к плутону в разговоре со Стивом Колбертом <a href="http://www.colbertlateshow.com/video/B2A2BE11-38A3-908C-DEA3-8EEC858C94BB/9th-rock-from-the-sun/">colbertlateshow.com/video/B2A2BE11-38A3-908C-DEA3-8EEC858C94BB/9th-rock-from-the-sun</a></li>
  <li><a href="http://cl.ly/image/2H1a0H1H3I1T">Васина картина</a> (работа в процессе)</li>
  <li>Кто покупает айподы <a href=“http://www.birchtree.me/blog/who-buys-ipods”>birchtree.me/blog/who-buys-ipods</a></li>
  <li>Новый Айпод Тач <a href="http://www.apple.com/ru/ipod-touch/">apple.com/ru/ipod-touch</a></li>
  <li>Подкаст Джона Грубера где они с гостем Джейсоном Снеллом обсуждают приоритеты Эппл - Компания, Пользователи, Разработчики <a href="http://daringfireball.net/thetalkshow/2015/07/20/ep-126">daringfireball.net/thetalkshow/2015/07/20/ep-126</a></li>
 </ul>
