<p>
Новинки от Microsoft, Google и Apple.
</p>
<ul class="bulleted">

<li>https://www.microsoft.com/october2015event/en-us/microsoft-live-event
Осеннее представление новинок микрософта
<br><a href="https://www.microsoft.com/surface/en-us/devices/surface-pro-4">Планшет Surface Pro 4</a>
<br><a href="http://www.microsoft.com/en-us/mobile/phone/lumia950/">Lumia 950</a>
<br><a href="http://liliputing.com/2015/04/some-windows-10-phones-can-also-be-pcs-just-add-a-display-mouse-and-keyboard.html">Windows phone как комп если добавить экран, мышь и клавиатуру</a>
</li>
<li><a href="http://www.ixbt.com/news/hard/index.shtml?17/99/46">Asus Transformer Book V — гибридный мобильный компьютер с Windows 8.1 и смартфон на Android в одном устройстве</a>
</li>
<li>Новый Хромбук Гугла Пиксель
<br><a href="https://www.google.com/chromebook/pixel/">Лаптоп Chromebook Pixel</a>
<br><a href="http://www.theverge.com/products/chromebook-pixel-2015/7950">Verge рассказывает</a>
</li>

<li>Ультра портативные виндовые компы 8-ми летней давности. Oqo, Vulcan, Fujitsu, Kohjinsha и Sony
<br><a href="http://bgr.com/2007/11/29/umpc-knockout-vulcan-flipstart-vs-oqo-02-vs-sony-ux280p/">Sony ux280p</a>
<br><a href="http://gizmodo.com/289126/hands-on-with-fujitsus-999-lifebook-u810-umpc">Fujitsu u810</a>
<br><a href="http://www.jkkmobile.com/2009/09/meet-kohjinsha-pm-series.html">Kohijinsha PM</a>
<br><a href="http://www.techeblog.com/index.php/tech-gadget/video-vulcan-flipstart-umpc-hands-on">Vulcan UMPC</a>
<br><a href="http://www.theregister.co.uk/2007/05/16/fujtsu_touts_worlds_smallest_pc/">Fujitsu pc</a>
<br><a href="http://www.theregister.co.uk/2006/05/16/sony_unveils_vaio_ux/">Sony Vaio UX</a>
</li>
</ul>
