<ul class="bulleted">
  <li>Майкрософт списывает как убытки покупку части Нокии, увольняет несколько тысяч сотрудников <a href="http://techcrunch.com/2015/07/08/microsoft-writes-down-7-6b-of-its-nokia-acquisition-announces-7800-layoffs">techcrunch.com/2015/07/08/microsoft-writes-down-7-6b-of-its-nokia-acquisition-announces-7800-layoffs</a>, Убер покупает часть Майкрософта которая занималась картами <a href="http://techcrunch.com/2015/06/29/uber-acquires-part-of-bings-mapping-assets-will-absorb-around-100-microsoft-employees/">techcrunch.com/2015/06/29/uber-acquires-part-of-bings-mapping-assets-will-absorb-around-100-microsoft-employees</a></li>
  <li>Новый фильм: Терминатор Генезис (5) Terminator Genesys <a href="http://www.imdb.com/title/tt1340138/">imdb.com/title/tt1340138</a></li>
  <li>Фильм: Грань Будущего Edge of Tomorrow <a href="http://www.imdb.com/title/tt1631867/">imdb.com/title/tt1631867</a></li>
  <li>Новые исследования от Гугла про нейро-анализ изображений <a href="http://googleresearch.blogspot.co.uk/2015/06/inceptionism-going-deeper-into-neural.html">googleresearch.blogspot.co.uk/2015/06/inceptionism-going-deeper-into-neural.html</a> и видео ролик на их основе <a href="https://vimeo.com/132700334">vimeo.com/132700334</a></li>
</ul>

