<p>
<br>Парная работа
<br>О том как мы работали в паре удалённо над новым дизайном сайта данного подкаста
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="https://figma.com">figma.com</a></li>
    <li><a href="https://dropbox.com/paper">dropbox paper</a></li>
    <li><a href="https://splice.com">splice.com</a></li>
    <li><a href="https://ru.wikipedia.org/wiki/Парное_программирование">Парное программирование</a></li>
</ul>
<p>
    <a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов
        Эппл</a>
    <br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>