<p>
Блоги, видео клипы и обсуждение ИИ, Эппл и разных гигантов мыслей мира технологий
</p>
<p><b>Из баек:</b></p>
<ul class="bulleted">
<li><a href="https://es.foursquare.com/v/caf%C3%A9-britania/4f2c99ebe4b0fed2ad9e0d1b">Кафе Британия в Пуэбла</a></li>
<li><a href="http://www.cnbc.com/2016/05/02/tim-cook-the-most-important-thing-for-apple-long-term.html ">Выступление Тима Кука на CNBC у Джима Креймера</a></li>
</ul>

<p><b>Подкасты:</b></p>
<ul>
  <li><a href="http://exponent.fm/">Экспонент</a> который ведёт Бен Томпсон и Джеймс Олворс, вебсайт Бена - <a href="https://stratechery.com/">Стратекари</a></li>
  <li><a href="http://daringfireball.net/thetalkshow/">Ток шоу</a> Джона Грубера, и его блог <a href="http://daringfireball.com/">Дэйринг Фаербол</a></li>
  <li><a href="http://atp.fm/">Случайный Тех Подкаст</a> (ATP - эй-ти-пи) который ведут Марко Армент, Кейси Лис и Джон Сиракюза</li>
  <li><a href="http://appleinsider.com/topic/podcast/">Эппл Инсайдер</a> и <a href="http://appleinsider.com/">их вебсайт</a></li>
  <li><a href="https://www.samharris.org/podcast">Сэм Хэррис</a></li>
  <li><a href="https://www.theincomparable.com/robot/">Робот или не робот</a> Джон Сиракюза и Джейсон Снелл</li>
  <li><a href="http://www.hellointernet.fm/">Хеллоу Интернет</a>CGP Грей и Броди Харан</li>
  <li><a href="http://thedrunkweb.com/">Пьяный веб</a></li>
<br><b>Ютюб каналы:</b>
  <li><a href="https://www.youtube.com/user/CGPGrey/videos">CGP Grey</a> и клип <a href="про два мозга">https://www.youtube.com/watch?v=wfYbgdo8e-8</a></li>
  <li><a href="https://www.youtube.com/user/Kurzgesagt/videos">Курзгезагт</a> и вторая часть клипа уже <a href="https://www.youtube.com/watch?v=JQVmkDUkZT4">про то кто мы</a></li>
</ul>
<p><b>Кино:</b></p>
<ul>
  <li><a href="http://www.imdb.com/title/tt4598848/">Dennis Rodman's Big Bang in Pyongyang</a></li>
</ul>

<p><b>Видео клипы с выступлениями:</b></p>
<ul>
  <li>Выступления на Конференции Код:<a href="https://www.youtube.com/watch?v=guVxubbQQKE">Джеф Бизос</a></li>
  <li>Выступления на Конференции Код:<a href="https://www.youtube.com/watch?v=5ridyiKefjk">Элон Маск</a></li>
  <li><a href="https://www.youtube.com/watch?v=h8M_coe8eME">Тим Урбан о будущем и ИИ</a></li>
  <li><a href="http://waitbutwhy.com/">Тим Урбан</a> и его <a href="https://www.ted.com/talks/tim_urban_inside_the_mind_of_a_master_procrastinator?language=en">TED про прокрастинацию</a></li>
  <li><a href="https://youtu.be/334Gfug5OL0">Мерри Микер про тенденции года в интернете</a> и <a href="http://www.kpcb.com/blog/2016-internet-trends-report">полный доклад</a></li>
</ul>

<p><b>Программы:</b></p>
<ul>
  <li><a href="https://brave.com/">Браузер Брейв</a> который режет всю рекламу</li>
  <li><a href="https://www.sketchapp.com/">Скетч</a> Векторный редактор для дизайна интерфейсов и не только</li>
  <li>Аффинити <a href="https://affinity.serif.com/photo/">Фото</a> и <a href="https://affinity.serif.com/designer/">Дизайнер</a> новая замена Адоби Фотошопу и Иллюстратору</li>
</ul>
