<p>
Мир дикого запада, Польши и неприбытие инопланетян
</p>
<p><b>Ссылки к эпизоду:</b></p>
<ul class="bulleted">
    <li><a href="https://techcrunch.com/2016/11/22/googles-ai-translation-tool-seems-to-have-invented-its-own-secret-internal-language/">Искусственный интелект Гугла создаёт свой язык</a></li>
    <li><a href="https://www.kinopoisk.ru/film/195523/">Сериал «Мир Дикого Запада»</a></li>
    <li><a href="https://www.kinopoisk.ru/film/718811/">к/ф Прибытие</a></li>
    <li><a href="http://www.theverge.com/2016/12/6/13853566/samsung-s8-rumor-release-headphone-jack-usb-c">Новый смартфон от Самсунг будет без входа для наушников</a></li>
    
</ul>
<p>
<a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">наш подкаст в директории подкастов Эппл</a>
<br>и <a href="https://overcast.fm/itunes1013700516">в Оверкасте</a>
</p>
